module {{.ModulePath}}

go {{.GoVersion}}
{{if .RhoVersion}}
require (
	github.com/bds421/rho-kit/app/v2 {{.RhoVersion}}
	github.com/bds421/rho-kit/httpx/v2 {{.RhoVersion}}{{if or .Postgres .Tenant}}
	github.com/bds421/rho-kit/core/v2 {{.RhoVersion}}
{{- end}}{{if .Tenant}}
	github.com/bds421/rho-kit/app/redis/v2 {{.RhoVersion}}
	github.com/bds421/rho-kit/data/cache/rediscache/v2 {{.RhoVersion}}
	github.com/bds421/rho-kit/data/idempotency/redisstore/v2 {{.RhoVersion}}
	github.com/bds421/rho-kit/data/v2 {{.RhoVersion}}
	github.com/bds421/rho-kit/infra/redis/v2 {{.RhoVersion}}
{{- end}}{{if .Postgres}}
	github.com/bds421/rho-kit/app/postgres/v2 {{.RhoVersion}}
	github.com/bds421/rho-kit/infra/sqldb/pgx/v2 {{.RhoVersion}}
{{- end}}
){{end}}
